@model CoffeShop.Models.CustomerClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadData</title>
</head>
<body>
    <div> 
        username: @Model.Username
        password: @Model.Password
    </div>
</body>
</html>
