@model CoffeeShop.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLogin</title>
    Username: @Model.Username
    Password: @Model.Password
</head>
<body>
    <div>
    </div>
</body>
</html>
